
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Kelvin Chukwuka">

        <title>CRUD Database</title>

    </head>
    <body>
        <h1>CRUD Database</h1>
        <form method='post' action="{% url 'index' %}">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Hobby</th>
                <th>Actions</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.location }}</td>
                <td>{{ student.hobby }}</td>
                <td><button name='edit'>Edit</button>
                    <button name='delete'>delete</button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>{{ student.id.max }}</td>
                {% for field in form %}
                <td>{{ field }}</td>
                {% endfor %}
                <td><button name='save'>Save</button></td>
            </tr>
        </table>
        <div class='botton_btn'>
            <form method='post' action="{% url 'index' %}">
                <button name='download' id='download'>Download CSV</button>
                <button name='add' id='add'>Add Item</button>
            </form>
        </div>
    </body>
</html>